.pagination {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style-type: none;
}

.pagination a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.699);
}

.pagination a:hover {
    text-decoration: underline;
}